<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2020-05-13T15:21:45Z</date>
	<key>WorkspacePath</key>
	<string>/Users/ksenia/university_second_cours/newclimate/newclimate.xcworkspace</string>
</dict>
</plist>
